# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
!/Day2.iml
!/Learn Java.iml
!/.idea/
!/Common/

build/out
Common/src/

# Project exclude paths
/out/